body
  font-family: Roboto
  color: #333333

  a 
    color: #333333

  h1
    color: #333

  // input[type="text"],
  // input[type="password"],
  // input[type="submit"]
  //   display: block
  //   width: 100%
  //   font-weight: 700
  //   border: 1px solid #333
  //   margin: 1em 0
  //   padding: .5em 1em

  // button
  //   border: 1px solid #333333
  //   padding: .5em 1em
  //   background: transparent

  .main-content
    text-align: center
    max-width: 1000px
    margin: 0 auto

    // label 
    //   text-align: left
