.dash-profile
  display: flex
  justify-content: space-between
  padding: 1em 0


  .dash-user
    flex: 1 1 50%
    text-align: left


  .dash-edit
    flex: 1 1 50%
    text-align: right

    img
      display: block
      margin-left: auto