.display-wrapper
  display: flex

  .create
    flex: 1 1 35%

    form 
      div
        text-align: left

  .display
    flex: 1 1 65%
 
    ul
      text-align: left
      list-style-type: none
      padding: 1em

      li
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        text-align: left
        margin: 0 0 1em
        border: 1px solid #000000
        padding: 1em

        input[type="text"] 
          flex: 1 1 48%
          margin: .2em
          border: 1px solid #777777
          text-align: left
          text-transform: capitalize

        button
          border: none 
          text-decoration: underline